<div id="v-quizroom" class="single-video mitem template_size_m type_digital-brand-content">
  <div class="overlay-video"></div>
  <div class="overlay-video-2"></div>
  <div class="video-title">
    <h1>{{titre}}</h1>
    <div class="video-arrow"></div>
    <p class="video-categorie">{{description}}</p>
  </div>
  <div class="video-image" xstyle="background-image: url({{{image}}});"><img src="{{{image}}}"/></div>
  <div class="projet-overlay">
    <div class="video-container">
      <iframe class="video-player" id="video-{{id}}" src="{{{video}}}" width="640" height="390" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</div>
