/* Variables */
@vc-primary-bg: #ECBF25;
@vc-hover: #690F0F;
/* General */
body {
  background:@vc-primary-bg;
}
html,
body {
  height: 100%;
  margin: 0;
}

h1 {margin-top:15px;}
.upper {text-transform: uppercase;}

.container {
  position: relative;
}

.box {  
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  padding-bottom:60px;
 }

.box .row {
  //width: 100%
}

#header {
  flex: 0 1 auto;
  //flex: 1 100%;
  /* The above is shorthand for:
flex-grow: 0,
flex-shrink: 1,
flex-basis: auto
  */
  nav {width: 100%;}
}

#pages {
  flex: 1 1 auto;
  background: #fff;
  min-height: 1500px;
}

#footer {
  //flex: 0 1 40px;
  //align-items: center;
}



/* HEADER */
#header {
  background: #fff;
  .navbar-brand {font-weight: bold;}
}
/* All Pages*/
.page {
  width: 100%;
  padding:0 15px;
  .title {font-size:18px; margin-bottom:10px;}
  &.page-accueil {
    .title img {
      margin-left:12px;
    }
    .video {
      .videoWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
        margin: 15px 0;
      }
      .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;        
        //max-width: 560px;
      }

      //margin-top:40px;
      padding:40px 0 60px 0;
      text-align:center;
      //display: flex wrap;
      //align-items: center;
      //justify-content: center;
      //max-width:500px;
      margin: 0 auto;
    }
  }
  &.page-liens {
    ul {
      list-style:none; padding:0; margin:0;
      .info {color:#888; font-size:13px;}
    }
  }
}
/* FOOTER */
#footer {
  text-align: center;
  width: 100%;
  position: fixed; bottom:0;
  width:1110px;
  justify-content: center;
  .links {
    span {
      &:after {content:"|"; xmargin:0 10px; color:#aaa;}
      &:last-child:after {content: none;}
      a {
        padding:0 10px;
        &:hover {
          color:@vc-hover;
          .fa, .fab {color:@vc-hover;}
        }
      }
    }
  }
  background:#eee; line-height:60px; color:#fff;
  .fa.fa-envelope {color:black;}
  .fa-facebook {color:#0099FF;}
  .fa-instagram {color:#444;}
}
/* Media Queries */
@media screen and (max-width: 640px) {
  .page {
    min-height: 0;
    //iframe {height: auto;}
  }
}
@media screen and (max-width: 1200px) {
  #footer {max-width:930px;}
}

@media screen and (max-width: 990px) {
  #footer {max-width:690px;}
}

@media screen and (max-width: 766px) {
  #footer {max-width:510px;}
}
@media screen and (max-width: 574px) {
  .container {padding:0;}
  #footer {max-width: none; width:100%;}
}
