/* Variables */
/* Additional slideshow css */
[class*="slideshow"] {
  max-width: 600px;
  height: 450px;
  margin: 0 auto 40px;
  outline: none;
}
[class*="slideshow"] img {
  display: none;
}
[class*="slideshow"] .image_wrapper .text_content {
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  opacity: 1;
  margin: 0.1em 0;
}
/* General */
body {
  background: #ECBF25;
}
html,
body {
  height: 100%;
  margin: 0;
}
h1 {
  margin-top: 15px;
}
.upper {
  text-transform: uppercase;
}
.container {
  position: relative;
  height: 100%;
}
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  padding-bottom: 60px;
}
/* HEADER */
#header {
  background: #fff;
  flex: 0 1 auto;
  /* The above is shorthand for:
flex-grow: 0,
flex-shrink: 1,
flex-basis: auto
  */
}
#header .navbar-brand {
  font-weight: bold;
}
#header .navbar.bg-light {
  background: #eee !important;
}
#header .header-wrapper {
  width: 100%;
}
#header .header-wrapper .header-image img {
  max-width: 100%;
}
#header .header-wrapper nav {
  padding-top: 15px;
  width: 100%;
  position: relative;
}
#header .header-wrapper nav .flags {
  /*position: absolute; right:10px; top:-10px; z-index:1;*/
  border: 1px solid gray;
  border-radius: 10px;
  padding: 3px 10px;
}
#header .header-wrapper nav .flags a {
  display: inline-block;
  margin-right: 5px;
}
#header .header-wrapper nav .flags a:last-child {
  margin-right: 0;
}
#pages {
  flex: 1 1 auto;
  background: #fff;
  padding-bottom: 80px;
}
.show-en {
  display: none;
}
.showin-en {
  display: none;
}
.flags .en,
.flags .fr {
  opacity: 0.5;
}
.flags .en:hover,
.flags .fr:hover {
  opacity: 1;
}
body.lang-en .flags .en {
  opacity: 1;
}
body.lang-en .showin-fr {
  display: none;
}
body.lang-en .show-fr {
  display: none;
}
body.lang-en .showin-en {
  display: inline;
}
body.lang-en .show-en {
  display: block;
}
body.lang-fr .flags .fr {
  opacity: 1;
}
/* All Pages*/
.page {
  width: 100%;
  padding: 0 15px;
}
.page img {
  max-width: 100%;
}
.page .title {
  font-size: 18px;
  margin-bottom: 10px;
}
.page h3.header {
  margin: 5px 0;
  color: #690F0F;
  /*border-bottom:1px solid @vc-hover;*/
}
.page.page-program h3 {
  margin: 40px 0;
  color: #690F0F;
}
.page.page-program h3.header {
  margin: 5px 0;
}
.page.page-program table {
  margin-bottom: 40px;
}
.page.page-program table td {
  font-size: 19px;
  vertical-align: top;
}
.page.page-program table .time {
  padding-right: 10px;
  color: #004085;
}
.page.page-program table .soup {
  text-align: center;
  color: #690F0F;
  padding-top: 20px;
}
.page.page-accueil .program-link {
  font-size: 20px;
}
.page.page-accueil .indent {
  padding-left: 20px;
  border-left: 2px solid #bbb;
  margin: 10px 0 30px 0;
}
.page.page-accueil .testimony {
  padding-left: 30px;
  color: #999;
  font-weight: normal;
}
.page.page-accueil .intro {
  margin: 20px 0;
  text-align: left;
  max-width: 800px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.page.page-accueil .helloasso {
  text-align: center;
}
.page.page-accueil .helloasso .inner {
  display: inline-block;
  padding: 10px;
  border: 2px solid #690F0F;
  border-radius: 4px;
}
.page.page-accueil .helloasso .inner .head {
  font-weight: bold;
  margin-bottom: 5px;
}
.page.page-accueil .title {
  color: #690F0F;
}
.page.page-accueil .title img {
  margin-left: 12px;
}
.page.page-accueil .donate .fa-heart {
  margin-right: 10px;
}
.page.page-accueil .videos {
  margin-top: 35px;
}
.page.page-accueil .videos .video {
  border: 1px solid #ECBF25;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0;
  text-align: center;
  margin: 10px auto 50px auto;
}
.page.page-accueil .videos .video .info {
  margin-bottom: 20px;
  padding: 10px;
  text-align: left;
}
.page.page-accueil .videos .video .info.pic .multi-col {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.page.page-accueil .videos .video .info.pic .multi-col .image {
  margin-right: 15px;
  width: 150px;
}
.page.page-accueil .videos .video .info.pic .multi-col .image img {
  width: 100%;
  max-width: 100%;
}
.page.page-accueil .videos .video .info .title {
  font-weight: bold;
  position: relative;
}
.page.page-accueil .videos .video .info .title .testimony {
  position: absolute;
  right: 0;
  top: 0;
}
.page.page-accueil .videos .video .info .fa-comment {
  position: relative;
  xmargin-top: -6px;
  xcolor: #ECBF25;
  xfont-weight: bold;
}
.page.page-accueil .videos .video .videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  border-radius: 4px;
}
.page.page-accueil .videos .video .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}
.page.page-liens ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.page.page-liens ul .info {
  color: #888;
  font-size: 13px;
}
.page.page-art .title {
  font-weight: bold;
  margin-bottom: 20px;
  color: #000;
}
.page.page-art .info {
  text-align: left;
  color: #777;
  margin-top: 20px;
}
.page .more {
  cursor: pointer;
  color: #004085;
  opacity: 0.7;
  margin-top: 10px;
}
.page .more:hover {
  text-decoration: underline;
}
.page .more .fa {
  position: relative;
  top: 1px;
}
.page .moins {
  display: none;
}
.page .text {
  display: none;
}
.page .text-inline {
  display: none;
}
.page .plus.inline {
  margin-left: 10px;
}
.page .showText .plus {
  display: none;
}
.page .showText .moins {
  display: inline-block;
}
.page .showText .text {
  display: block;
}
.page .showText .text-inline {
  display: inline;
}
/* FOOTER */
#footer {
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  width: 1110px;
  justify-content: center;
  background: #bbb;
  line-height: 60px;
  color: #fff;
}
#footer .links span:after {
  content: "|";
  color: #888;
  font-size: 20px;
}
#footer .links span:last-child:after {
  content: none;
}
#footer .links span a {
  color: #294460;
  padding: 0 10px;
}
#footer .links span a .fa,
#footer .links span a .fab {
  position: relative;
  top: 3px;
  font-size: 22px;
}
#footer .links span a:hover {
  color: #690F0F;
}
#footer .links span a:hover .fa,
#footer .links span a:hover .fab {
  color: #690F0F;
}
#footer .fa.fa-envelope {
  color: #294460;
}
#footer .fa-facebook {
  color: #294460;
}
#footer .fa-instagram {
  color: #294460;
}
/* Media Queries */
@media screen and (max-width: 640px) {
  /*table td {width:100%; display:block;}*/
  .page {
    min-height: 0;
  }
}
@media screen and (max-width: 1200px) {
  #footer {
    max-width: 930px;
  }
}
@media screen and (max-width: 990px) {
  .header-wrapper img {
    height: auto;
  }
  #footer {
    max-width: 690px;
  }
  #header .header-wrapper nav .flags {
    margin-top: 20px;
    border: none;
  }
}
@media screen and (max-width: 766px) {
  #footer {
    max-width: 510px;
  }
}
@media screen and (max-width: 574px) {
  .container {
    padding: 0;
  }
  .info.pic .multi-col {
    display: block !important;
  }
  .info.pic .multi-col .image {
    display: block!important;
    margin-right: 0!important;
    width: 100%!important;
    margin-bottom: 10px;
  }
  #footer {
    max-width: none;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */